html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl,
dt, dd, blockquote, address {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
.container {
  overflow: hidden;
}
.half:first-child {
  padding-left: 20px;
}
.half:last-child {
  padding-right: 0px;
}
@media screen and (max-width: 568px) {
  .half {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 20px;
    margin-left: 100%;
  }
}

.half {
  width: 50%;
  float: left;
  padding: px;
}
.code {
  font-size: 18px;
  min-height: 155px;
  background-color: #d6d6d6;
  
}
#logo {
  margin-bottom: 15px;
 text-align: center;
}
.subtitulo{
  margin-top: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #683205;
  color: #fff;
  text-align: center;
  width: 50%;
 margin-left: 25%;
 border-radius: 5px;
}
textarea{
 text-align: center;
 margin-left: 25%;
 margin-top: 10px;
border-radius: 5px;
 color: #000;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
 margin-top: 3px;
  margin-left: 93%;
  border: rgb(16, 126, 230) 2px solid;
  border-radius: 5px;
  background-color: #11092ef3;
  color: #fff;
  font-weight: bold;
  width: 100px;
}
button:hover{
  background-color: #fff;
  color: #000000;
  
}
